// Material UI colors
$red900  : #b71c1c;
$cyan500 : #00BCD4;

$gray50  : #FAFAFA;
$gray100 : #F5F5F5;
$gray200 : #EEEEEE;
$gray500 : #9E9E9E;
$gray600 : #757575;
$gray800 : #424242;

// Elements
$body: #fff;

// Classes
.gray800 { color: $gray800; }
