/* Start of styles | Defaults
============================================================
========================================================= */
* { box-sizing: border-box; }

html, body { width: 100%; height: 100%; }

body {
  display: initial;
  background:#fff;
  min-width: 640px;
  color: $gray800;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: em(16);
  font-weight: 300;

  background: rgb(236,205,222);
  background: -moz-linear-gradient(-45deg, rgba(236,205,222,1) 0%, rgba(129,205,211,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(236,205,222,1) 0%,rgba(129,205,211,1) 100%);
  background: linear-gradient(135deg, rgba(236,205,222,1) 0%,rgba(129,205,211,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eccdde', endColorstr='#81cdd3',GradientType=1 );
}

sup, sub { font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em; left: 0.15em; }
sub { bottom: -0.25em; }

a {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

#app { height: 100%; }
